@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
   margin: 0; 
}
.fundo{
    background: #E08532;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card{
box-shadow: 0px 0vw 2.6vw 1vw rgba(0, 0, 0, 0.25);
margin-top: 15vw ;
background: #B98434;
width: 20vw;
height: 41.889vh;
border-radius: 1vw;
}
.card > img{
    padding: 0px;
    margin: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1vw 1vw 0vw 0vw;
    object-fit:cover ;
    width: 20vw;
    height: 17vh;
}

.card > h1{
    font-weight: 600;
    margin: 0;
    padding-left: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    margin-top: 1vh;
    color: white;
}
.card > h6{
    margin: 0;
    margin-top: 1vh;
    font-weight: 200;
    padding-left: 5%;
    font-family: 'Kanit', sans-serif;
    font-size: 19px;
    color: white;
}

.card-textos {
    font-family: 'Inter', sans-serif;
    padding-left: 5%;
    display: flex;
}

.pokebola{
    padding-right: 2px;
    margin-top: 10px;
    height: 30px;
    width: 29px;
}
.valor{
    font-weight: 600;
    color: #EED74D;
    margin-right: 15vh;
}
.time{
    color: white;
    font-weight: 600;
}

.relo{
    padding-left: 4px;
    margin-top: 13px;
    height: 24px;
    width: 24px;
}